<div class="row js-section" id="whatispaneek">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is paneek ?</h1>
    <p class="fw-100">Paneek is an interactive media platform that will help you to create more engaging tours by adding rich media like links,photos,videos,product catalogs and more. Use Paneek to create interactive tours using the Google Maps street view technology in minutes!. You only need upload a panoramic image.</p>
  </div>
</div>
<div class="row js-section" id="uploadnothinghappen">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">I have uploaded a 360 image but nothing happened</h1>
    <p class="fw-100"> When you upload an image, this image need to be processed in our server first. The process take a few minutes after this we send you an email with the notification. Sometimes the email could not appear in your inbox for many reasons. In case you should come back to paneek and check if the panorama was created. In case that you noticed that the panorama is not created after 15 minutes or more, please send us a message reporting the problem.</p>
  </div>
</div>
<div class="row js-section" id="paypalnothinghappen">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">I have Paid a subscription with paypal but nothing happened</h1>
    <p class="fw-100"> We will send you an email in the next 20 minutes with the confirmation. Normal support hours are 9 AM to 9 PM Eastern time. Our goal is to respond to your inquiry within 1 business day. If you never received the email please contact us via email.</p>
  </div>
</div>
<div class="row js-section" id="cancancel">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">Can I cancel my subscriptions ?</h1>
    <p class="fw-100"> In paneek we do not have subscriptions, you only paid once. After that period of time, your account go back to normal.</p>
  </div>
</div>
<div class="row js-section" id="cancelwithcontent">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">If I cancel my subscriptions what happen with all my content ?</h1>
    <p class="fw-100">Your content will be still available but it will be Limited of how many times your tours can be loaded. (According our judgement)</p>
  </div>
</div>
<div class="row js-section" id="responsivecompatibility">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is the compatibility with browsers and mobile devices ?</h1>
      <ul class="fw-100">
        <li class="mb-10">Google chrome desktop 100%</li>
        <li class="mb-10">Google chrome mobile 100%</li>
        <li class="mb-10">Mozilla firefox desktop 70%</li>
        <li class="mb-10">Safari desktop 60%</li>
        <li class="mb-10">Safari mobile iphone 60%</li>
        <li class="mb-10">Iphone and ipads 60%</li>
      </ul>
  </div>
</div>
<div class="row js-section" id="includedinpaid">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is included in the paid account ?</h1>
      <ul class="fw-100">
        <li class="mb-10">Online support: If you have problem in the process of creating your tours we can help you. (english and spanish)</li>
        <li class="mb-10">All advertisements are removed</li>
        <li class="mb-10">In the period of time of you paid account, your tours can be loaded unlimited of times</li>
        <li class="mb-10">Add background sound in your tours is enabled</li>
      </ul>
  </div>
</div>
<div class="row js-section" id="nadirlogo">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is Nadir Logo ?</h1>
    <p class="fw-100"> 
      Is a logo that will be place at the bottom of your tour or panorama. More info about <a href="https://en.wikipedia.org/wiki/Zenith" target="_blank">Nadir</a>.<br>
      Be careful only works perfect in browsers that support spherical projection like Google Chrome desktop and others. So test it in all the browsers of your target audience
</p>
  </div>
</div>
<div class="row js-section" id="carefulwithcnp">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">Why you should be careful with copy and paste text in the editor ?</h1>
    <p class="fw-100"> 
      You can copy and paste text from any place but when you do this, you are copying all the style of the text that include: font , color , margin , font-size, etc.<br>
      <a href="//paneek.blogspot.com/2017/03/tips-tricks-for-virtual-tours-at-paneek.html" target="_blank">Additionally check our tips</a>
    </p>
  </div>
</div>
<div class="row js-section" id="onlyurl">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">Why does paneek only use url for images and icons ?</h1>
    <p class="fw-100">We avoid this additional cost and we can offer a free plan for users.</p>
  </div>
</div>
<div class="row js-section" id="copyrightoption">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is "Copyright text" option ?</h1>
    <p class="fw-100">
      Is a tiny text that will appear at the right bottom of your virtual tour. This text only apply to panoramas uploaded. (only paid accounts)
    </p>
  </div>
</div>
<div class="row js-section" id="navigationmode">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is "Navigation mode"?</h1>
    <p class="fw-100"> 
      You can choose what mode the users will use to navigate in your virtual tour. You have 2 options "Arrow mode" and "Hotspot mode", Additionally you can add a list or a floor plan in order to help the navigation.<br>
      If you only want the floor plan or the list of destinations, you can set navigation mode to "none".
</p>
  </div>
</div>
<div class="row js-section" id="stylewindow">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is "style window for the information" option ?</h1>
    <p class="fw-100"> 
     This is the style of the first window that you see when the tour or panorama is loaded. Just select the style and save it later visit your tour.
    </p>
  </div>
</div>
<div class="row js-section" id="whatarecategories">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What are "categories" ?</h1>
    <p class="fw-100">      
      Categories is just a way to organize your content. You can add any name that you want, later you can use this categories to search your panoramas. You can add multiple categories ex: 2017, garden, hourse.<br>
      Tutorial <a href="https://www.youtube.com/watch?v=42GiaEjcQqg" target="_blank">English</a> & <a href="https://www.youtube.com/watch?v=_n9PBoxT1EM" target="_blank">Español</a>
    </p>
  </div>
</div>

<div class="row js-section" id="whatistranslation">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is "translation" option ?</h1>
    <p class="fw-100">You can select a language for your tours.</p>
  </div>
</div>
<div class="row js-section" id="whatismapconnections">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is Map Connections ?</h1>
    <p class="fw-100">
      Is an overview of how all the panoramas are connected in your tours. In this way you can verify if you forget something or possible errors.
    </p>
  </div>
</div>
<div class="row js-section" id="appearingooglemaps">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">Will my tours appear in google maps or google street view ?</h1>
    <p class="fw-100"> 
      Sadly not, In paneek you are creating custom tours with your own images, They won't appear in searchs in google. <a href="https://www.google.com/streetview/hire/" target="_blank"> If you want that you need a trusted professional for hire can help you more easily create and publish your virtual tour on Google</a>.
</p>
  </div>
</div>
<div class="row js-section" id="arrowdestinations">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">How use the arrows destinations in your tours ?</h1>
    <ol class="fw-100">
      <li class="mb-10">
        You have available 8 directions for each panorama in your tour. These directions are in degrees, each arrow represent a direction.
      </li>
      <li class="mb-10">
        Directions are represented in : 0,45,90,135,180,225,270,315 degrees in total sum 360°. You can choose any you like.<br>
        <img class="lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="/img/wind_compass.gif" width="200" alt="I'm an image!">
      </li>
      <li class="mb-10">
        At the right side of each arrow, you have a list of alls the panoramas available in your tour. You just need to select the panorama that you want to load when the user click on that arrow. Automatically the preview is updated and you can click on the arrows to test them. (<b>Be be careful if the option "navigation mode" is set to "only List", you won't be able to see the arrow in your map</b>)
      </li>
      <li class="mb-10">
        <b>Important</b>: Do not forget add arrows to go back to the previous panorama, or your visitor will be stuck.
      </li>
      <li class="mb-10">
        This Navigation mode is know like "Arrows" remember that you also have the "List" mode. But you can not have both in the same time.
      </li>
      <li class="mb-10">
        Each panorama will be loaded in the same point of view (position) that was saved. So if you want that a panorama will be loaded in one particular direction of your image, you should go to that panorama, go to the edit and drag the panorama pointing out where you want and save it.
      </li>
    </ol>
  </div>
</div>
<div class="row js-section" id="developeroptions">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is developer options ?</h1>
    <p class="fw-100">      
      This section is only for Web developers. If you want to insert a virtual tour on your website, you should show the next link to the person in charge of creating your site. With these options, you will be able to create your own hotspots and load panoramas using Javascript code.<br>
      <a href="https://saulburgos.github.io/practices/2017/postmessages/paneek.html" target="_blank">How to use connect with paneek</a>
    </p>
  </div>
</div>
<div class="row js-section" id="whatispreloadpanos">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is "Preload all panoramas" ?</h1>
    <p class="fw-100">      
      If you turn on this option, all panoramas(only uploaded) will be preloaded when the tour start. This can improve the loading of panoramas meanwhile the user is navigating. But be careful, do not do this if you know that your users are using mobile network because you will spend of their mobile data. It can be useful for small tours, maybe 1-5 panormas. But is not recommended for bigger tour, Only use this option if you know that your users are using WIFI.
      <br>
      In average a unique panorama will load 1mb of images, you can use this information to know the size of your tour.
    </p>
  </div>
</div>
<div class="row js-section" id="usepoveditor">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">How to use POV Editor ?</h1>
    <p class="fw-100">      
      By default, all panoramas in your tour are loaded in the same direction of the previous panorama visited. With the POV editor you can change the "point of view" (POV) for all the panoramas inside a tour. In this way, you can define the direction where a panorama should be pointed when is loaded for first time only, subsequent visits to the same panorama will not take effect. See the following video for an explanation.
      <br>
      Video in <a href="https://youtu.be/04wLCZGgIuM" target="_blank">English</a> and<a href="https://youtu.be/zLlrECopKns" target="_blank"> Español</a>
    </p>
  </div>
</div>
<div class="row js-section" id="selectpanoramasoption">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is "Select panoramas to show name after Drag" option ?</h1>
    <p class="fw-100">      
      During the process of dragging the scene the name of the current panorama loaded will appear. You can choose in which panoramas you would like show the name.
    </p>
  </div>
</div>
<div class="row js-section" id="compassoroption">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is "Compass orientation help" option ?</h1>
    <p class="fw-100">      
      On big tours, users can easily lose orientation of where they are. In these cases, you can add a compass to help them to know where is the north. In order to use this option, you must open the compass editor and set where is the north in each uploaded panorama.
      <br>
      If you set the north in all panoramas, we can build a mini map with all routes that users need to walk through inside your tours. This minimap is auto generated and sometimes can not be correct due to the big possibilities of routes. In this cases, you can hide the minimap, setting the option "Show minimap of routes" to false.
      <br>
      <b>Note: minimap only works with navigation mode : arrows and hotspots. Map of routes only work with tours with one single floor plan . What I mean is : If you have stairs or elevators won't work because we can not represent those items in a 2D map. If this if your case please consider the creation of an independent tour for each floor plan</b>
    </p>
  </div>
</div>
<div class="row js-section" id="listmode">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">How use the list mode in you tours ?</h1>
    <ol  class="fw-100">
      <li class="mb-10">
        Mode list is an alternative to the arrow destination mode. You visitor will see a list instead of the classic arrows.<br>
        <img class="lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="/img/modelistexamaple.jpg" width="200" alt="I'm an image!">
      </li>
      <li class="mb-10">
        Depending of the number of panoramas added in your tour, you will see the same number of items on the list.
      </li>
      <li class="mb-10">
        By default all items will have the same that the corresponding panorama. But you can change it, if you want. With the input at the bottom of each item list you can customize the name.
      </li>
      <li class="mb-10">
        Also you can set a image presentation for the list that will appear at the top of the list.
      </li>
      <li class="mb-10">
        This Navigation mode is know like "list" remember that you also have the "arrow" mode. But you can not have both in the same time.
      </li>
      <li class="mb-10">
        <b>(Be be careful if the option "navigation mode" is set to "only List", you won't be able to see the arrow in your map)</b>
      </li>
      <li class="mb-10">
        Each panorama will be loaded in the same point of view (position) that was saved. So if you want that a panorama will be loaded in one particular direction of your image, you should go to that panorama, go to the edit and drag the panorama pointing out where you want and save it.
      </li>
    </ol>
  </div>
</div>
<div class="row js-section" id="floorplan">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">How to use the floor plan mode in you tours ?</h1>
    <p class="fw-100">      
      You have 2 options of floor plan, that are available on tour edition only
      <ol class="fw-100">
        <li class="mb-10">
          <a href="https://youtu.be/xdlxXSaM8DY" target="_blank">Floor plan image:</a> You can use this services to create your floor plans: https://home.by.me/en/
        </li>
        <li class="mb-10">
          <a href="https://www.youtube.com/watch?v=qDsWP4RQsms" target="_blank">Floor plan map</a>
        </li>
        <li class="mb-10">
          Each panorama will be loaded in the same point of view (position) that was saved. So if you want that a panorama will be loaded in one particular direction of your image, you should go to that panorama, go to the edit and drag the panorama pointing out where you want and save it.
        </li>
      </ol>
    </p>
  </div>
</div>
<div class="row js-section" id="usehostpotnavigation">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">How to use the hotspots navigation mode in your tours ?</h1>
    <p class="fw-100">      
      In this mode you can use hotspots to load locations, is goood for virtual tours that do not have a simple orientation. <a href="https://www.youtube.com/watch?v=msvWLc-LCJU" target="_blank">Please see this video</a>. <b>Color and custom icons are only available for paid accounts.</b>
    </p>
  </div>
</div>
<div class="row js-section" id="dontopeninfooption">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is "Don't open the information at the start" option ?</h1>
    <p class="fw-100">      
      With this option, you can avoid open the information window at the start of your virtual tour or panorama. (only paid accounts)
    </p>
  </div>
</div>
<div class="row js-section" id="externallinkoption">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is "open tour on External link" option ?</h1>
    <p class="fw-100">      
      This option is only useful if you have inserted your tour on your website. Users can use this button to open the tour in another tab.
    </p>
  </div>
</div>
<div class="row js-section" id="removegoogle">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">Can I remove the logo of Google ?</h1>
    <p class="fw-100">      
      Sorry, not allowed under <a href="https://developers.google.com/maps/terms" target="_blank">Google Maps/Google Earth Terms of Service.</a> <i>"Section 10.1.1 (b) No Hiding of Identity. You must not hide or mask from Google the identity of your Maps API Implementation as it uses the Service, including by failing to follow the identification conventions listed in the Maps APIs Documentation."</i> <b>Even CNN, and NBC Nightly News have to have the Google logo displayed at all times.</b>
    </p>
  </div>
</div>
<div class="row js-section" id="vrontours">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">Can I use virtual reality (VR) Headset on tours ?</h1>
    <p class="fw-100">      
      Tours on paneek are virtual tours(First generation), this mean that you can not use VR headset or cardboard. There are 3 types of virtual tours.
    </p>
    <ul class="fw-100">
     <li class="mb-10">
       Tour VR: These are virtual tour that use witj the headset VR.
     </li>
     <li class="mb-10">
       Tour AR: These are of this type, see the video
     </li>
     <li class="mb-10">
       Virtual Tour (First generation): Are the tour that use paneek and you need use the mouse to navigate.
     </li>
    </ul>
    <p class="fw-100">
      For the moment paneek not support VR headset however, it's a great idea! In fact, we already have this in our development pipeline as it was suggested before as well. In the meantime, you can see what we're currently working on in our product roadmap
    </p>
  </div>
</div><div class="row js-section" id="downloadtour">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">Can I download my virtual tour ?</h1>
    <p class="fw-100">      
      Not for the moment, we have this feature in our list of things to do.
    </p>
  </div>
</div><div class="row js-section" id="backgroundsound">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is Background Sound ?</h1>
    <p class="fw-100">      
      Is a sound that you can add in your tours and panoramas. You have 3 options:
      <ul class="fw-100">
        <li class="mb-10">
          <b>Mp3 files:</b> Panoramas will have at the bottom tiny controls of audio. This is the best option to use.
        </li>
        <li class="mb-10">
          <b><a href="https://youtube.com" target="_blank">youtube</a> videos:</b> Panoramas will have a mini video, this is a little annoying but if you do not mind you can use it.
        </li>
        <li class="mb-10">
          Each individual panorama can has a background sound and every time a panorama is loaded, the sound will be downloaded and play it. This mean that if you add lots of sounds your users will be downloading all these files and the tour could be slow. Be careful with this.
        </li>
        <li class="mb-10">
          If a tour and panorama ave a background in the same time. The tour sound will be played.
        </li>
      </ul>
    </p>
  </div>
</div>
<div class="row js-section" id="whyminivideo">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">Why is there a mini video on my tour and panorama ?</h1>
    <p class="fw-100">      
      If you are using a youtube video like background sound this is mandatory according to the <a href="https://developers.google.com/youtube/terms" target="_blank">Youtube API Terms of services</a> and we can not do nothing about it.<br>
      <b>GOOGLE: [Prohibited] separate, isolate, or modify the audio or video components of any YouTube audiovisual content made available through the YouTube API;</b>
      If you do not want this minivideo, please use a mp3 file url.
    </p>
  </div>
</div>
<div class="row js-section" id="notreponmobile">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">On mobile devices, my sound is not reproduce, Why ?</h1>
    <p class="fw-100">      
      Sadly, on mobile devices Background sound is not working correctly. We are working hard in order to fix it.<br>
      Additionally autoplay cannot be done on iOS devices (iPhone, iPad, iPod touch) and Android, because of the high amout of traffic you can use on mobile networks for your visitor. Visitor need to press the play button, is a business decision of these companies.
    </p>
  </div>
</div>
<div class="row js-section" id="descperhostpot">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">Could you give a description of each hotspot ?</h1>
    <p class="fw-100">      
      <b>Hotspot Text</b><br>
      Useful for long text. You can use the editor to add imagenes too.
      <br><br>
      <b>Hotspot Link</b><br>
      You can add one unique link or several links. Each link will open in an new tab in your browser.<br><br>
      <b>Hotspot Image</b><br>
      Open a gallery of images. All web images format are supported. You need the link of the image<br><br>
      <b>Hotspot Video</b><br>
      Open a gallery of video. Only youtube and vimeo links are supported<br><br>
      <b>Hotspot Embed</b><br>
      This type is for users that have knowledge in programming websites. You can put html code in this hotspot.<br><br>
      <b>Hotspot Twitter</b><br>
      You can insert the timeline of your twitter account. You only need the ID of a timeline widget to be rendered. Please check this link to know how get this id. Programming knowledge is needed.<br><br>
      <b>Hotspot Facebook</b><br>
      You can insert the timeline of your facebook account. You only need the url of your facebook Page. Please check this link to know how to create the widget link.  Programming knowledge is needed.
      <br><br>
      <b>Hotspot Catalogue</b><br>
      Useful to create Gallery of items. Each item can have a link , a price , an image and title. See the video
      <br><br>
      <b>Hotspot Search Engine</b><br>
      You can setup this hotspot to open a search web engine to search anything you want. After a user click on this hotspot a new tab is opened in the browser and automatically will show to the user the results of the seach. Ex:<br>
      If you have a panorama inside a museum, you can add a hotspot to open google and automatically show all relevant information for a piece of art or videos in youtube.
      <br><br>
      <b>Hotspot Placeholder</b><br>
      if you only want to locate an icon in a place without interaction, this hotspot is for you. Placeholder is just an icon without nothing more.
      <br><br>
      <b>Hotspot Tiny content</b><br>
      Show a short text or a small image. Images should have a Height of 220px Max for images
      <br><br>
      <b>Hotspot Card</b><br>
      You have 4 different templates to use. Is a mini content that will appear in your your tour. See the video
      <br><br>
      <b>Hotspot Sound</b><br>
      You can add a mp3 url sound that it will be reproduce after click on the hotspot.
    </p>
  </div>
</div>
<div class="row js-section" id="audioguidesync">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is Audio guide synchronization?</h1>
    <p class="fw-100">      
      You can move the panorama according to one audio file. With this you can create tutorials and voice instructions. If you are using media library you do not have to worry about CORS
    </p>
  </div>
</div>
<div class="row js-section" id="panimportfromgoogle">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">After a period of time a panorama imported from google is located in other place ?</h1>
    <p class="fw-100">      
      Panorama imported from Google could change of location after a period of time. This is because Google maps is constantly updating the panorama and locations. To solve this you need edit the panorama and import it again to get the new location.
    </p>
  </div>
</div>
<div class="row js-section" id="whatismaporeditor">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is Map of routes editor ?</h1>
    <p class="fw-100">      
      By default, all routes on the mini map have a distance of 1 unit. This may cause that the routes look strange because all have the same distance. In this editor, you can change the distance for each route with the correct.<br>
      You just need to click on each line on the map or click in the items list at your right side.
    </p>
  </div>
</div>
<div class="row js-section" id="whatisdistance">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is "distance" on the Map of routes editor ?</h1>
    <p class="fw-100">      
      By default, all routes on the mini map have a distance of 1 unit. This unit can be anything you want: meters, km, miles, etc.<br>
      you can update this distance with any value you want. The important part here is that you need to decide what metric system to use and keep it in all the routes.
    </p>
  </div>
</div>
<div class="row js-section" id="whatis360pan">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What is a 360 panorama image ?</h1>
    <p class="fw-100">      
      Panoramic Photography is capturing images on a wider format, so as to include much more than what eyes can see naturally from a point. To capture a panoramic image, one needs a wider aspect ratio so that there is a view which is unobstructed of a vaster area. <a href="https://www.google.com.ni/search?q=panorama+image&amp;espv=2&amp;biw=1366&amp;bih=643&amp;source=lnms&amp;tbm=isch&amp;sa=X&amp;ved=0ahUKEwj479bFm4_LAhVHlB4KHVg6BuAQ_AUIBigB" target="_blank">Examples</a>
    </p>
  </div>
</div>
<div class="row js-section" id="createmy360pan">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">How can I create my own 360 panorama images ?</h1>
    <p class="fw-100">      
      <a href="//paneek.blogspot.com/2016/06/how-to-create-360-panorama-image-to.html" target="_blank">
          Check this post in our blog
        </a>
    </p>
  </div>
</div>
<div class="row js-section" id="whatmobilecreate360">
  <div class="col-12 pr-150 pl-150 pr-sm-10 pl-sm-10">
    <h1 class="sub-title text-center">What mobile phones models can create 360 images ?</h1>
    <p class="fw-100">      
      You have to search a phone with a sensor called <a href="http://www.livescience.com/40103-accelerometer-vs-gyroscope.html" target="_blank">"gyroscope"</a> Only these devices can produce good quality images.
    </p>
  </div>
</div>