<div class="row p-0 mt-20 mb-20 position-relative">
	<div class="col-12">
	<ul class="mdc-image-list standard-image-list">
			<li class="mdc-image-list__item">
				<div class="mdc-image-list__image-aspect-container">
					<img class="mdc-image-list__image hvr-float-shadow" src="https://dummyimage.com/500/cbcdce/cbcdce">
				</div>
			</li>
			<li class="mdc-image-list__item">
				<div class="mdc-image-list__image-aspect-container">
					<img class="mdc-image-list__image hvr-float-shadow" src="https://dummyimage.com/500/cbcdce/cbcdce">
				</div>
			</li>
			<li class="mdc-image-list__item">
				<div class="mdc-image-list__image-aspect-container">
					<img class="mdc-image-list__image hvr-float-shadow" src="https://dummyimage.com/500/cbcdce/cbcdce">
				</div>
			</li>
			<li class="mdc-image-list__item">
				<div class="mdc-image-list__image-aspect-container">
					<img class="mdc-image-list__image hvr-float-shadow" src="https://dummyimage.com/500/cbcdce/cbcdce">
				</div>
			</li>
			<li class="mdc-image-list__item">
				<div class="mdc-image-list__image-aspect-container">
					<img class="mdc-image-list__image hvr-float-shadow" src="https://dummyimage.com/500/cbcdce/cbcdce">
				</div>
			</li>
			<li class="mdc-image-list__item">
				<div class="mdc-image-list__image-aspect-container">
					<img class="mdc-image-list__image hvr-float-shadow" src="https://dummyimage.com/500/cbcdce/cbcdce">
				</div>
			</li>
			<li class="mdc-image-list__item">
				<div class="mdc-image-list__image-aspect-container">
					<img class="mdc-image-list__image hvr-float-shadow" src="https://dummyimage.com/500/cbcdce/cbcdce">
				</div>
			</li>
			<li class="mdc-image-list__item">
				<div class="mdc-image-list__image-aspect-container">
					<img class="mdc-image-list__image hvr-float-shadow" src="https://dummyimage.com/500/cbcdce/cbcdce">
				</div>
			</li>
			<li class="mdc-image-list__item">
				<div class="mdc-image-list__image-aspect-container">
					<img class="mdc-image-list__image hvr-float-shadow" src="https://dummyimage.com/500/cbcdce/cbcdce">
				</div>
			</li>
		</ul>
	</div>
</div>