<div class="row row__negative pt-50 pb-50 pr-50 pl-50">
	<div class="col-12">
		<h1 class="sub-title text-center">
			Features that you can use
		</h1>
	</div>
	<div class="col-12">
		<ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example1.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Background sound tours</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example12.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Hotspots navigation</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example3.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Import panoramas from Google</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example13.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Web Developer options</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example14.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Audio synchronization</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example9.jpg" alt="I'm an image!"> 
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Floor plan</span>
		    </div>
		  </li>	
			<li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example11.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Harry potter - Diagon Alley</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example4.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Navigation mode list</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example8.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Hostspot cards</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example6.jpg" alt="I'm an image!">  
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Hotspots without interaction</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		   	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example5.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Custom icons</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example3.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Text label</span>
		    </div>
		  </li>
			<li class="mdc-image-list__item">
			<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example7.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Hotspots with tiny text</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
			<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example10.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse">Floor plan map</span>
		    </div>
		  </li>
		</ul>					
	</div>
</div>