<div class="row row__negative pt-50 pb-50 pr-50 pl-50">
	<div class="col-12">
		<h1 class="sub-title text-center">
			Features that you can use
		</h1>
	</div>
	<div class="col-12">
		<ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/sound.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Background sound tours</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/navigation.jpeg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Floor plan map</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/panorama.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Import panoramas from Google</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/code.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Web Developer options</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/audio.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Audio synchronization</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/plans.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Floor plan</span>
		    </div>
		  </li>	
			<li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/hp.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Harry potter - Diagon Alley</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/navigation-3.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Navigation mode list</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/cards.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Hostspot cards</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/freeze.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Hotspots without interaction</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/icons.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Custom icons</span>
		    </div>
		  </li>
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/add-logo.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Text label</span>
		    </div>
		  </li>
			<li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/tiny-text.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Hotspots with tiny text</span>
		    </div>
		  </li>
		<li class="mdc-image-list__item">
		    <img class="mdc-image-list__image" data-src="/img/feactures/navigation-2.jpg" alt="">
		    <div class="mdc-image-list__supporting">
		      <span class="mdc-image-list__label">Floor plan map</span>
		    </div>
		  </li>
		</ul>					
	</div>
</div>