<div class="row row__negative pt-50 pb-50 pr-50 pl-50">
	<div class="col-12">
		<h1 class="sub-title text-center">
			Features that you can use
		</h1>
	</div>
	<div class="col-12">
		<ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
		  <a href="https://www.paneek.net/#/tour/view/15" target="_blank">
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example1.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Background sound tours</span>
		    </div>
		  </li>
		</a>
		  <a target="_blank" href="https://www.paneek.net/#/tour/view/84">
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example12.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Hotspots navigation</span>
		    </div>
		  </li>
		</a>
		  <a target="_blank" href="https://www.paneek.net/#/tour/view/38">
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example3.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Import panoramas from Google</span>
		    </div>
		  </li>
		</a>
		  <a target="_blank" href="https://saulburgos.github.io/practices/2017/postmessages/paneek.html">
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example13.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Web Developer options</span>
		    </div>
		  </li>
		</a>
		  <a target="_blank" href="https://www.paneek.net/#/panoramas/view/3777">
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example14.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Audio synchronization</span>
		    </div>
		  </li>
		</a>
		  <a target="_blank" href="https://www.paneek.net/#/tour/view/40">
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example9.jpg" alt="I'm an image!"> 
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Floor plan</span>
		    </div>
		  </li>
		  </a>	
			<a target="_blank" href="https://www.paneek.net/#/panoramas/view/113">
			<li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example11.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Harry potter - Diagon Alley</span>
		    </div>
		  </li>
		</a>
		  <a target="_blank" href="https://www.paneek.net/#/tour/view/18">
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example4.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Navigation mode list</span>
		    </div>
		  </li>
		</a>
		  <a target="_blank" href="https://www.paneek.net/#/panoramas/view/255">
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example8.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Hostspot cards</span>
		    </div>
		  </li>
		</a>
		  <a target="_blank" href="https://www.paneek.net/#/panoramas/view/190">
		  <li class="mdc-image-list__item">
		  	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example6.jpg" alt="I'm an image!">  
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Hotspots without interaction</span>
		    </div>
		  </li>
		</a>
		  <a target="_blank" href="https://www.paneek.net/#/panoramas/view/189">
		  <li class="mdc-image-list__item">
		   	<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example5.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Custom icons</span>
		    </div>
		  </li>
		</a>
		  <a target="_blank" href="https://www.paneek.net/#/tour/view/45">
		  <li class="mdc-image-list__item">
		    <img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example3.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Add a logo in the nadir position</span>
		    </div>
		  </li>
		</a>
			<a target="_blank" href="https://www.paneek.net/#/panoramas/view/192">
			<li class="mdc-image-list__item">
			<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example7.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Hotspots with tiny text</span>
		    </div>
		  </li>
		</a>
		  <a target="_blank" href="https://www.paneek.net/#/tour/view/41">
		  <li class="mdc-image-list__item">
			<img class="mdc-image-list__image lazy" src="https://dummyimage.com/250/cbcdce/cbcdce" data-src="https://d23u3ye4jogzr9.cloudfront.net/resources/example10.jpg" alt="I'm an image!">
		    <div class="mdc-image-list__supporting text-center">
		      <span class="mdc-image-list__label mdc-image-list__label__reverse" style="margin-left: auto;margin-right: auto;">Floor plan map</span>
		    </div>
		  </li>
		</a>
		</ul>					
	</div>
</div>