<footer class="row pl-150 pr-150 text-sm-center" id="original-footer">
	<div class="col-4">
		<ul>
			<h2>Info</h2>
			<li class="mt-10">
				<a href="mailto:info@paneek.net" target="_top">Contact us</a>
			</li>
			<li class="mt-10">
				<a href="https://docs.google.com/document/d/1fu_NXSo2IVU4xxb2eOy8r1Tui9YZ_oJD1JaERa9Dq2Q/edit?usp=sharing">Privacy policy</a>
			</li>
			<li class="mt-10">
				<a href="https://docs.google.com/document/d/1OluVIoSdDrIB-cioQVZCy2Bj2uiCb5XD0SCG81Qc7zw/edit?usp=sharing"> Acceptable Use Policy </a>
			</li>
		</ul>
	</div>
	<div class="col-4">
		<ul >
			<h2>Info</h2>
			<li class="mt-10">
				<a href="mailto:info@paneek.net" target="_top">Contact us</a>
			</li>
			<li class="mt-10">
				<a href="https://docs.google.com/document/d/1fu_NXSo2IVU4xxb2eOy8r1Tui9YZ_oJD1JaERa9Dq2Q/edit?usp=sharing">Privacy policy</a>
			</li>
			<li class="mt-10">
				<a href="https://docs.google.com/document/d/1OluVIoSdDrIB-cioQVZCy2Bj2uiCb5XD0SCG81Qc7zw/edit?usp=sharing"> Acceptable Use Policy </a>
			</li>
		</ul>
	</div>
	<div class="col-4">
		<ul>
			<h2>Social networks</h2>
			<li class="mt-10">
				<h4>
					<a type="button" href="https://www.facebook.com/paneek/" class="foo-button mdc-button">
					<img data-src="/img/facebook-white.png" width="25px" class="lazy" src="https://dummyimage.com/50/cbcdce/cbcdce" alt="">
					</a>
					<a type="button" href="https://twitter.com/Paneek360" class="foo-button mdc-button ml-10">
					<img data-src="/img/twitter-white.png" width="30px" alt="" class="lazy" src="https://dummyimage.com/50/cbcdce/cbcdce">
					</a>
					<a type="button" href="https://www.youtube.com/channel/UCb7UDre1mgmzAVhJf8RLkCw" class="foo-button mdc-button ml-10">
					<img data-src="/img/youtube-white.png" width="30px" alt="" class="lazy" src="https://dummyimage.com/50/cbcdce/cbcdce">
					</a>
				</h4>
			</li>
			<li class="mt-10">
				<a href="//paneek.blogspot.com/" target="_blank">Paneek oficial blog</a>
			</li>
		</ul>
	</div>
	<div class="col-12 text-center">
	<p>
		 <i class="baseline-copyright icon-image-preview"></i> Copyright (c) 2018 All Rights Reserved.
	</p>
	</div>
</footer>
<script src="/material.js"></script>
<script src="/app.js"></script>