<div class="row mt-70 mt-sm-10 mt-md-10 mb-70 mb-sm-20">
	<div class="col-5 text-center">
	  		<img data-src="/img/LineGraph.png" alt="" class="lazy" src="https://dummyimage.com/500/cbcdce/cbcdce">
	</div>
	
	<div class="col-7 pt-30 pb-20">
		<h1 class="sub-title" style="margin:20px 0">
			Lorem Ipsum
		</h1>
		<h3 style="font-weight: 100">
		<ul>
			<li class="mt-10">
			Lorem ipsum dolor sit amet consectetur, adipiscing elit vestibulum sociosqu.
			</li>
			<li class="mt-10">
			Lorem ipsum dolor sit amet consectetur, adipiscing elit vestibulum sociosqu.Lorem ipsum dolor sit amet consectetur, adipiscing elit vestibulum sociosqu.
			</li>
			<li class="mt-10">
			Lorem ipsum dolor sit amet consectetur, adipiscing elit vestibulum sociosqu.
			</li>
			<li class="mt-10">
			Lorem ipsum dolor sit amet consectetur, adipiscing elit vestibulum sociosqu.Lorem ipsum dolor sit amet consectetur, adipiscing elit vestibulum sociosqu.
			</li>
		</ul>
		</h3>
	</div>
</div>