<div class="container header pt-50 mb-30" style="background-color:#6ACEFF;color:white">
  <div class="container__row header">
  	<div class="row">
  		<div class="col-12">
  			<h1 class="title pr-20 pl-20" style="margin-bottom: 0 !important;">Create virtual tours for any place</h1>		
  		</div>
  	<div class="col-6 text-center" style="margin-top: 0 !important;">
  		<h1 class="sub-title pr-20 pl-20" style="margin-top: 0 !important;">For real state, education, tourism , without programming skill</h1>
    	<a type="button" href="/login/" class="mdc-button mdc-button--raised mb-100 mb-sm-20 mb-md-50 mr-20 ml-20 jumbotron-button btn-secondary">
      		Start 
    	</a>	
  	</div>
    </div>
  </div>
</div>