<div class="container header" style="background-image: url('{{.imageUrl}}'); background-size: cover; background-repeat: no-repeat;background-position: right;">
  <div class="container__row header">
    <h1 class="title pt-120 pt-md-170 pt-lg-200 pr-20 pl-20">{{.title}}</h1>
    {{ if .subtitle }}
    <h1 class="sub-title pr-20 pl-20">{{.subtitle}}</h1>
    {{ end }}
    {{ if .button }}
    <button class="foo-button mdc-button mdc-button--raised mb-150 mr-10 ml-10">
      {{ .button }}
    </button>
    {{ end }}
  </div>
</div>
