<div class="row pl-100 pr-100">
	<div class="col-12">
		<h1 class="sub-title text-center">
			{{ .heading }}
		</h1>
		<h3 style="font-weight: 100" class="text-center">						
			{{ .description }} <a href="mailto:info@paneek.net">info@paneek.net</a>
		</h3>
	</div>
	{{ partial "pricing-columns" .Params.plans }}
	<div class="col-3">
		<div class="mdc-card text-center">
			<div class="row__primary">
				<h2 style="font-weight: 100">Free</h2>
				<h1 class="title">$0</h1>
			</div>
			<div class="card-content">
				<h5 style="font-weight: 100">
					Published tours and panoramas may include small advertisements to cover our costs. You can turn off the ads anytime by using a paid account.
				</h5>
				<h5 style="font-weight: 100">
					Support for small business traffic
				</h5>
				<h5 style="font-weight: 100">
					Some features are disabled
				</h5>
				<h5 style="font-weight: 100">
					Unlimited tours and panoramas
				</h5>
			</div>
		  <div class="mdc-card__actions text-center">
		    <div class="mdc-card__action-buttons" style="margin-left: auto;margin-right: auto;">
		      <button class="mdc-button mdc-card__action mdc-card__action--button">Start Now</button>
		    </div>
		  </div>
		</div>
	</div>
	<div class="col-3">
		<div class="mdc-card text-center">
			<div class="row__purple">
				<h2 style="font-weight: 100">1 Month</h2>
				<h1 class="title">$10,99</h1>
			</div>
			<div class="card-content">
				<h5 style="font-weight: 100">
					"Unique payment" is for anyone that need all features for a period of time.
				</h5>
				<h5 style="font-weight: 100">
					Support for small business traffic
				</h5>
				<h5 style="font-weight: 100">
					No advertisements
				</h5>
				<h5 style="font-weight: 100">
					Online Support english and spanish.
				</h5>
				<h5 style="font-weight: 100">
					Additional features enabled.
				</h5>
				<h5 style="font-weight: 100">
					Unlimited tours and panoramas
				</h5>
				<h5 style="font-weight: 100">
					1 Gigabyte of space to upload custom icons and sounds
				</h5>
				<h5 style="font-weight: 100">
					Tours will use a fast hosting to deliver your 360 images at top speed to users in different geographic locations
				</h5>
			</div>
		  <div class="mdc-card__actions text-center">
		    <div class="mdc-card__action-buttons" style="margin-left: auto;margin-right: auto;">
		      <button class="mdc-button mdc-card__action mdc-card__action--button">Buy Now</button>
		    </div>
		  </div>
		</div>
	</div>
	<div class="col-3">
		<div class="mdc-card text-center">
			<div class="row__blue">
				<h2 style="font-weight: 100">3 Months</h2>
				<h1 class="title">$30,99</h1>
			</div>
			<div class="card-content">
				<h5 style="font-weight: 100">
					"Unique payment" is for anyone that need all features for a period of time.
				</h5>
				<h5 style="font-weight: 100">
					Support for small business traffic
				</h5>
				<h5 style="font-weight: 100">
					No advertisements
				</h5>
				<h5 style="font-weight: 100">
					Online Support english and spanish.
				</h5>
				<h5 style="font-weight: 100">
					Additional features enabled.
				</h5>
				<h5 style="font-weight: 100">
					Unlimited tours and panoramas
				</h5>
				<h5 style="font-weight: 100">
					1 Gigabyte of space to upload custom icons and sounds
				</h5>
				<h5 style="font-weight: 100">
					Tours will use a fast hosting to deliver your 360 images at top speed to users in different geographic locations
				</h5>
			</div>
		  <div class="mdc-card__actions text-center">
		    <div class="mdc-card__action-buttons" style="margin-left: auto;margin-right: auto;">
		      <button class="mdc-button mdc-card__action mdc-card__action--button">Buy Now</button>
		    </div>
		  </div>
		</div>
	</div>
	<div class="col-3">
		<div class="mdc-card text-center">
			<div class="row__turquise">
				<h2 style="font-weight: 100">12 Months</h2>
				<h1 class="title">$100,99</h1>
			</div>
			<div class="card-content">
				<h5 style="font-weight: 100">
					"Unique payment" is for anyone that need all features for a period of time.
				</h5>
				<h5 style="font-weight: 100">
					No advertisements
				</h5>
				<h5 style="font-weight: 100">
					Unlimited tours and panoramas
				</h5>
				<h5 style="font-weight: 100">
					No limit of how many times your tours can be loaded.
				</h5>
				<h5 style="font-weight: 100">
					Online Support english and spanish.
				</h5>
				<h5 style="font-weight: 100">
					Additional features enabled.
				</h5>

				<h5 style="font-weight: 100">
					1 Gigabyte of space to upload custom icons and sounds
				</h5>
				<h5 style="font-weight: 100">
					Tours will use a fast hosting to deliver your 360 images at top speed to users in different geographic locations
				</h5>
			</div>
		  <div class="mdc-card__actions">
		    <div class="mdc-card__action-buttons" style="margin-left: auto;margin-right: auto;">
		      <button class="mdc-button mdc-card__action mdc-card__action--button">Buy Now</button>
		    </div>
		  </div>
		</div>
	</div>												
</div>