{{ range .plans }}
	<div class="col-3">
		<div class="mdc-card text-center">
			<div class="row__primary">
				<h2 style="font-weight: 100">{{ .description }}</h2>
				<h1 class="title">{{ .price }}</h1>
			</div>
			<div class="card-content">
				{{ $itemCount := len .items }}
				{{ range $index, $item := .items }}
					<h5 style="font-weight: 100">
						{{ $item }}
					</h5>
				{{ end }}
			</div>
		  <div class="mdc-card__actions text-center">
		    <div class="mdc-card__action-buttons" style="margin-left: auto;margin-right: auto;">
		      <button class="mdc-button mdc-card__action mdc-card__action--button">Start Now</button>
		    </div>
		  </div>
		</div>
	</div>
{{ end }}