<div class="col-12">
	<h2>
			<a type="button" href="https://www.facebook.com/paneek/" class="foo-button mdc-button">
			<img data-src="/img/facebook-box.png" class="lazy" src="https://dummyimage.com/50/cbcdce/cbcdce" alt="">
			</a>
			<a type="button" href="https://twitter.com/Paneek360" class="foo-button mdc-button">
			<img data-src="/img/twitter.png" alt="" class="lazy" src="https://dummyimage.com/50/cbcdce/cbcdce">
			</a>
			<a type="button" href="https://www.youtube.com/channel/UCb7UDre1mgmzAVhJf8RLkCw" class="foo-button mdc-button">
			<img data-src="/img/youtube.png" alt="" class="lazy" src="https://dummyimage.com/50/cbcdce/cbcdce">
			</a>
	</h2>
</div>