<div class="col-12">
	<h2>
		<button class="foo-button mdc-button">
			<img data-src="/img/facebook-box.png" class="lazy" src="https://dummyimage.com/50/cbcdce/cbcdce" alt="">
			</button>
			<button class="foo-button mdc-button">
			<img data-src="/img/twitter.png" alt="" class="lazy" src="https://dummyimage.com/50/cbcdce/cbcdce">
			</button>
			<button class="foo-button mdc-button">
			<img data-src="/img/youtube.png" alt="" class="lazy" src="https://dummyimage.com/50/cbcdce/cbcdce">
			</button>
	</h2>
</div>