<div class="row pl-60 pr-60 mt-80">
  <div class="col-6">
    <div class="col-3 text-center">
      <img class="testimony-img lazy" data-src="/img/user-1.jpg" src="https://dummyimage.com/250/cbcdce/cbcdce">
      <h4 class="mt-5">John Doe</h4>
    </div>
  
    <div class="col-9 pt-50 pt-sm-10 text-sm-center">
      <h4 class="fw-400 mt-1"><b>houses.com</b></h4>
      <p class="text-justify f-italic">54% buyers will not look ar a property unless have taken a virtual tour.</p>
    </div>
  </div>
  <div class="col-6">
    <div class="col-3 text-center">
      <img class="testimony-img lazy" data-src="/img/user-2.jpg" src="https://dummyimage.com/250/cbcdce/cbcdce">
      <h4 class="mt-5">Jane Doe</h4>
    </div>
  
    <div class="col-9 pt-50 pt-sm-10 text-sm-center">
      <h4 class="fw-400 mt-1"><b>hotel.com</b></h4>
      <p class="text-justify f-italic">75% of potencial customer and visitors consider a virtual tour to be a major decision making tool.</p>
    </div>
  </div>
</div>
<div class="row pl-60 pr-60 mb-30">
  <div class="col-6">
    <div class="col-3 text-center">
      <img class="testimony-img lazy" data-src="/img/user-3.jpg" src="https://dummyimage.com/250/cbcdce/cbcdce">
      <h4 class="mt-5">Jane Doe</h4>
    </div>
  
    <div class="col-9 pt-50 pt-sm-10 text-sm-center">
      <h4 class="fw-400 mt-1"><b>cups.com</b></h4>
      <p class="text-justify f-italic">Wow. I just maked my tour and it was SO SIMPLE. I am blown away. You guys truly kick ass. Thanks for being so awesome. High fives!</p>
    </div>
  </div>
  <div class="col-6">
    <div class="col-3 text-center">
      <img class="testimony-img lazy" data-src="/img/user-4.jpg" src="https://dummyimage.com/250/cbcdce/cbcdce">
      <h4 class="mt-5">John Doe</h4>
    </div>
  
    <div class="col-9 pt-50 pt-sm-10 text-sm-center">
      <h4 class="fw-400 mt-1"><b>phones.com</b></h4>
      <p class="text-justify f-italic">75% of potencial customer and visitors consider a virtual tour to be a major decision making tool.</p>
    </div>
  </div>
</div>
