<div class="row p-0 mt-80 mb-30">
  <div class="col-12">
    <ul class="mdc-image-list testimonial-image-list">
        <li class="mdc-image-list__item">
        <div class="mdc-image-list__image-aspect-container">
          <img class="mdc-image-list__image" src="https://dummyimage.com/250/cbcdce/cbcdce">
        </div>
        <div class="mdc-image-list__supporting text-center">
          <h2 style="font-weight: 100; margin-bottom: 5px">Name LastName</h2>
          <h4 style="margin-top: 1px">Designer</h4>
          <p style="font-style: italic;justify-content: justify;">Lorem ipsum dolor sit amet consectetur, adipiscing elit vestibulum sociosqu.</p>
        </div>
      </li>
        <li class="mdc-image-list__item">
        <div class="mdc-image-list__image-aspect-container">
          <img class="mdc-image-list__image" src="https://dummyimage.com/250/cbcdce/cbcdce">
        </div>
        <div class="mdc-image-list__supporting text-center">
          <h2 style="font-weight: 100; margin-bottom: 5px">Name LastName</h2>
          <h4 style="margin-top: 1px">Designer</h4>
          <p style="font-style: italic;justify-content: justify;">Lorem ipsum dolor sit amet consectetur, adipiscing elit vestibulum sociosqu.</p>
        </div>
      </li>
        <li class="mdc-image-list__item">
        <div class="mdc-image-list__image-aspect-container">
          <img class="mdc-image-list__image" src="https://dummyimage.com/250/cbcdce/cbcdce">
        </div>
        <div class="mdc-image-list__supporting text-center">
          <h2 style="font-weight: 100; margin-bottom: 5px">Name LastName</h2>
          <h4 style="margin-top: 1px">Designer</h4>
          <p style="font-style: italic;justify-content: justify;">Lorem ipsum dolor sit amet consectetur, adipiscing elit vestibulum sociosqu.</p>
        </div>
      </li>
    </ul>
  </div>
</div>