<div class="row mt-70 mt-sm-20 mb-70 mb-sm-20">
	<div class="col-7 text-center">
		<div class="video">
	  		<img src="https://dummyimage.com/700x500/cbcdce/cbcdce" data-video="https://www.youtube.com/embed/WsPW1BTDc7c" title="Play Video" class="video__placeholder" />
	  		<button class="video__button"></button>
		</div>	
	</div>
	
	<div class="col-5 pt-20 pb-20">
		<h1 class="sub-title">
			{{.heading}}
		</h1>
		<h3  style="font-weight: 100">			
			{{.text1}}
		</h3>
		<h3  style="font-weight: 100">
			{{if .text2 }}
			{{ .text2 }}<br><br>
			{{ end }}

			{{if .text3 }}
			{{ .text3 }}<br><br>
			{{ end }}

			{{if .text4 }}
			{{ .text4 }}<br><br>
			{{ end }}

			{{if .text5 }}
			{{ .text5 }}
			{{ end }}
		</h3>
	</div>
</div>