<div class="row mt-70 mt-sm-20 mb-70 mb-sm-20">
	<div class="col-7 text-center">
		<div class="video">
	  		<img src="https://img.youtube.com/vi/WsPW1BTDc7c/maxresdefault.jpg" data-video="https://www.youtube.com/embed/WsPW1BTDc7c" title="Play Video" class="video__placeholder" />
	  		<button class="video__button"></button>
		</div>	
	</div>
	
	<div class="col-5 pt-20 pb-20">
		<h1 class="sub-title">
			{{.heading}}
		</h1>
		<h3 style="font-weight: 100">
			{{ .text1 }}
		</h3>
		<h3 style="font-weight: 100">
		<ul>
			<li class="mt-10">
			{{ .text2 }}	
			</li>
			<li class="mt-10">
			{{ .text3 }}	
			</li>
			<li class="mt-10">
			{{ .text4 }}
			</li>
			<li class="mt-10">
			{{ .text5 }}	
			</li>
		</ul>
		</h3>
	</div>
</div>