{{ define "main" }}

{{ partial "title" (dict "title" .Title) }}

<div class="row pr-150 pl-150 pr-sm-10 pl-sm-10">
	<div class="col-6">
		{{ partial "list" .Params.general }}
		{{ partial "list" .Params.sound }}
		{{ partial "list" .Params.minimap }}
	</div>
	<div class="col-6">
		{{ partial "list" .Params.tours }}
		{{ partial "list" .Params.hostpot }}
		{{ partial "list" .Params.panorama }}
		{{ partial "list" .Params.image }}
	</div>
	<div class="col-12 text-center">
		<h3 class="pr-30 pl-30 pr-lg-100 pl-lg-100 pb-lg-70" style="font-weight: 100">
    		{{ .Params.description }}
        	{{ if ( .Params.link ) ( .Params.text_link ) }}
    			<a href="{{ .Params.link }}" target="blank">{{ .Params.text_link }}</a>
    		{{ end }}
		</h3>
	</div>
</div>
{{ partial "answer_faq" }}

<div class="row pl-150 pr-150 text-center">
{{ partial "social_networks" }}
</div>
{{ end }}