{{ define "main" }}

{{ partial "title" (dict "description" .Params.description "title" .Title "link" .Params.link "text_link" .Params.text_link) }}

<div class="row">
	<div class="col-4">
		{{ partial "list" .Params.general }}
	</div>
	<div class="col-4">
		{{ partial "list" .Params.tours }}
	</div>
	<div class="col-4">
		{{ partial "list" .Params.sound }}
		{{ partial "list" .Params.hostpot }}
		{{ partial "list" .Params.panorama }}
		{{ partial "list" .Params.minimap }}
		{{ partial "list" .Params.image }}
	</div>
</div>
{{ range .Params.content }}
<div class="row js-section" id="{{ .id }}">
	<div class="col-12 pr-100 pl-100 pr-sm-10 pr-sm-10">
		<h1 class="sub-title text-center">{{ .title }}</h1>
		<h3 style="font-weight: 100" class="text-center">{{ .answer }}</h3>
		<hr>
	</div>
</div>
{{ end }}
{{ end }}