{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "button" .Params.button) }}

{{ partial "text-and-video" (dict "heading" .Params.values.heading "text1" .Params.values.text1 "text2" .Params.values.text2 "text3" .Params.values.text3 "text4" .Params.values.text4 "text5" .Params.values.text5 ) }}

{{ partial "feactures" }}

{{ partial "pricing" .Params.pricing }}

{{ partial "community" }}
<div class="row pl-150 pr-150 text-center">
{{ partial "social_networks" }}
</div>
{{ end }}
