$mdc-theme-primary: #95CFFC;
$mdc-theme-on-primary: #FFFBFA;
$mdc-theme-secondary: #FF7948;
$mdc-theme-on-secondary: #FFFBFA;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #9A9A9A;
$mdc-theme-background: #E0E0E0;
$mdc-theme-on-background: #FFFBFA;
$warning-color: #FFBC31;
$success-color: #B5D866;
$dark-base-color:#2F576E;