$mdc-theme-primary: #6ACEFF;
$mdc-theme-on-primary: #FFFBFA;
$mdc-theme-secondary: #FF8C07;
$mdc-theme-on-secondary: #FFFBFA;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #3b4a4f;
$mdc-theme-background: #6ACEFF;
$mdc-theme-on-background: #FFFBFA;