$mdc-theme-primary: #4c4c4c;
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-secondary: #258dba;
$mdc-theme-on-secondary: #FFFFFF;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #757575;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #258dba;