@import "./common";
@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/image-list/mdc-image-list";
@import "@material/card/mdc-card";
@import "@material/ripple/mixins";
@import "@material/icon-button/mdc-icon-button";
@import "@material/textfield/mdc-text-field";


.mdc-top-app-bar {
	@include mdc-top-app-bar-fill-color(on-primary);
	@include mdc-top-app-bar-icon-ink-color(primary);
	@include mdc-top-app-bar-ink-color(primary);
}

.button{
  @include mdc-button-ink-color(on-secondary);
  @include mdc-button-container-fill-color(secondary);
  @include mdc-states(secondary);
}

$video-height: 40vh;

.video {
  height: $video-height;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: $mdc-theme-primary;
  border-radius: 5%;
}
.video__placeholder { width: 100%; height:100%; display: block; }

.video__button {
  background: transparent;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  position: absolute;
  display: block;
  border: 3px solid $mdc-theme-on-surface;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transform: translateX(-50%) translateY(-50%);
  
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    background-color: $mdc-theme-on-surface;
    width: 35px;
    height: 3px;
    top: 50%;
    left: 35%;
    transition: background-color 0.5s;
  }
  
  &:before { transform: translateY(-11px) rotate(45deg); }
  &:after { transform: translateY(11px) rotate(-45deg); }
  
  &.is-playing {
    top: 1rem;
    right: 1rem;
    left: auto;
    transform: none;
    width: 50px !important;
    height: 50px !important;
  }
  
  &.is-playing:before,
  &.is-playing:after { left: 32%;width: 18px;height: 3px;}
  
  &.is-playing:before { transform: translateY(0) rotate(45deg); }
  &.is-playing:after { transform: translateY(0) rotate(-45deg); }
}
.video:hover .video__button {
  border-color: $mdc-theme-secondary;
  
  &:before,
  &:after {
    background-color: $mdc-theme-secondary;
  }
}

#video-player {
  width: 100%;
  height: $video-height;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
}

.card-content{
  padding-left:10px;
  padding-right:10px;
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

#mainNav .navbar-brand .iso{
  width: 90px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

}

#mainNav .navbar-brand .logo{
  width: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;  
}

.row__negative{
  background-color: $mdc-theme-primary;
  color: $mdc-theme-on-primary;
}

.testimonial-image-list {
  max-width: 90%; 
  @include mdc-image-list-standard-columns(3);
  padding: 0 20px;
}

.standard-image-list {
  max-width: 60%; 
  @include mdc-image-list-standard-columns(3);
}

.testimonial-image-list .mdc-image-list__item {
width: calc(100% / 6 - 4.2px);
margin: 2px auto; }
.testimonial-image-list .mdc-image-list__image {
border-radius: 50%; 
}
.testimonial-image-list .mdc-image-list__supporting {
  justify-content: center !important;
  color: $mdc-theme-background !important;
}

.standard-image-list .mdc-image-list__image-aspect-container {
padding-bottom: calc(100% / 1); }

.standard-image-list .mdc-image-list__item {
width: calc(100% / 3 - 4.2px);
margin: 2px auto; 
padding: 10px 10px;}

.standard-image-list .mdc-image-list__image {
border-radius: 8px; }

.standard-image-list.mdc-image-list--with-text-protection .mdc-image-list__supporting {
border-radius: 0 0 8px 8px; }

.mdc-image-list__label__reverse{
  color:#f5f5f5 !important;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.app-bar {
  position: absolute;
}

.mdc-tab {
  flex: 0 0 auto;
}

.mdc-tab-bar{
  width: auto;
}

.mdc-top-app-bar__section__custom {
    display: inline-flex;
    flex: 0 1 auto;
    align-items: center;
    min-width: 0;
    padding: 8px 12px;
    z-index: 1;
    width: 70px;
    margin-left: auto;
}

.mdc-top-app-bar__section--align-center {
    justify-content: center;
    order: -1;
}

.image-responsive{
    max-width: 100%;
    height: auto;
}

.testimony-img{
  border-radius: 50%;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.5s, padding-bottom 0.5s;
    -moz-transition: padding-top 0.5s, padding-bottom 0.5s;
    transition: padding-top 0.5s, padding-bottom 0.5s;
    border: none;
    background-color: transparent;
    color: white;
    @include mdc-top-app-bar-icon-ink-color(on-primary);
  }

  #mainNav .navbar-brand {
    font-size: 1em;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }

  #mainNav.navbar-shrink {
    background-color: #fff !important;
    color: $mdc-theme-on-surface;
    @include mdc-top-app-bar-icon-ink-color(on-surface);
  }

  .mdc-tab-indicator > .mdc-tab-indicator__content--underline-white {
    background-color: white !important;
  }

  .mdc-tab__text-label {
    display: inline-block;
    opacity: 1 !important;
    line-height: 1;
  }

  .mdc-tab .mdc-tab__text-label-white {
    color: white !important;
  }

  #mainNav.navbar-shrink .navbar-brand {
    padding: 12px 10px;
  }

  #mainNav.navbar-shrink .navbar-brand .iso{
    width: 110px;
  }

  #mainNav.navbar-shrink .navbar-brand .logo{
    width: 70px;
  }

  .mdc-tab {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }

    #mainNav.navbar-shrink .mdc-tab {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1500px){
  .header{
    height: auto;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: right;
  }
}

@media only screen and (max-width: 800px) {
	.video{
		width:100%;
		height:250px;
	}

  .container{
    width: 100%; 
    height: auto;
    text-align: center !important;
  }

  .text-sm-center{
    text-align: center !important;
  }

  .carousel-arrow.right {
    top: 40% !important;
    right: 40px !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  .carousel-arrow.left {
    top: 70% !important;
    left: 40px !important;
    transform: translateY(-50%) rotate(-180deg);
    -webkit-transform: translateY(-50%) rotate(-180deg);
  }

  .standard-image-list .mdc-image-list__item {
    width: 60% !important;
    margin: 2px auto;
  }

  .header{
    height: auto;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: right;
  }


  .testimonial-image-list {
    max-width: 90%; 
    @include mdc-image-list-standard-columns(1);
    padding: 0 5px;
   }
   .standard-image-list {
      max-width: 90%; 
      @include mdc-image-list-standard-columns(1);
  }
  .testimonial-image-list .mdc-image-list__image {
      border-radius: 50%;
      width: 60%;
      height: auto;
      margin: 0 auto;
  }

  .testimonial-image-list .mdc-image-list__image-aspect-container {
      padding-bottom: 170px;
  }
}

@media only screen and (max-width: 600px){
  .header{
    height: auto;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: right;
  }

  .mdc-top-app-bar__section__custom {
    padding: 8px 0px !important;
    width: 90px !important;
  }

	#mdc_navbar{
		display:none;
	}
	.title{
		font-size:40px;
		font-weight: 500;
	}
	.sub-title{
		font-size:30px;
		font-weight: 100;
	}
	.my-masonry-image-list {
  		@include mdc-image-list-masonry-columns(1);
  		color:#f5f5f5;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
	.title{
		font-size:40px;
		font-weight: 500;
	}
	.sub-title{
		font-size:35px;
		font-weight: 100;
	}
	.my-masonry-image-list {
  		@include mdc-image-list-masonry-columns(2);
  		color:#f5f5f5;
	}

	.btn-vp{
		font-size: 30px; 
		margin-top: 0;
    padding: 30px;
  	}

  .d-md-none{
    display: none;
  }
}